@charset "UTF-8";

/* FONT HEEBO */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&display=swap');

body{
    font-family: 'Heebo', sans-serif;
    margin: 0;
    min-height: 3333px;
}

.container{
    max-width: 1180px;

    margin: auto;
    padding: 0 20px;
}

ul{
    margin: 0;
    padding: 0;
}

header{
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 100%;
}

header .logo{
    display: inline-block;
}

header nav{
    display: inline-block;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a{
    color: black;
    font-size: 15px;
    letter-spacing: 0.37px;
    margin-right: 24px;
    text-decoration: none;
}

header nav ul li:last-of-type{
    margin-right: 0;
}